@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
       
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}
@font-face {
    font-family: "Bitter", serif;
    src: url('./fonts/Bitter-Regular.ttf') format('truetupe');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }